.App {
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.myMessage {
  text-align: right;
  margin: 10px 0;
}

.otherMessage {
  text-align: left;
  margin: 10px 0;
}

.inputSection {
  padding: 20px;
  border-top: 1px solid #ddd;
}

input {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}
